.button-box{
    float: right;
    display: flex;
    margin-right: 100px;
    justify-content: center;
}

.button{
    padding: 5px 10px;
    margin-right: 20px;
    border: solid 1px #c9947c;
    background-color: rgb(141, 93, 71);
    color: #ffffff;
}


.button-box button {
    background-color: #cc8b6e;
    color: #292626;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
    
.button-box button:hover {
    background-color: #bd6950;
    color: #f0fdf7;
}