<!-- <div class="main-content">
  <h2>About us</h2>
  <h3><p>Our online cosmetics store Your Skin offers a wide selection of high-quality cosmetics from the best manufacturers in the world. We pay great attention to product quality, so you can be sure of its safety and effectiveness.</p>
  <p>Our experts will help you choose the cosmetics that are right for you, and will give professional recommendations on its use. We also offer a convenient delivery service and guarantee full satisfaction from our products and services.</p></h3>
  <p>
    Why should you buy cosmetics, perfumes and accessories from us?
  </p>
    <ul>
      <li>Quality Guarantee</li>
      <li>Low prices</li>
      <li>Great choice for every taste</li>
      <li>Prompt Delivery</li>
    </ul>
</div>  -->


<section class="about">
  <div class="container">
    <div class="row">
      <div class="about">
        <h2>About us</h2>
        <p>We are a team of professionals who have been selling cosmetics since 2005. Our mission is to help our customers find the best products for skin and hair care. We offer only high-quality cosmetics from the best brands such as Chanel, Dior, Estee Lauder, Lancome, Shiseido and many others. In our assortment you will find everything you need to create the perfect image and maintain the health of your skin.</p>
      </div>
      
      <div class="carousel">
        <input type="checkbox" class="faux-ui-facia" checked>
        <div class="slide" slide="1" annot="Первый слайд">
          <img src = "assets/a1.jpg" alt="Slide 3">
        </div>
        <input type="checkbox" class="faux-ui-facia">
        <div class="slide" slide="2" annot="Второй слайд">
          <img src = "https://top-fon.com/uploads/posts/2023-01/1674877467_top-fon-com-p-fon-dlya-prezentatsii-kosmetika-201.png" alt="Slide 2">
        </div>
        <input type="checkbox" class="faux-ui-facia">
        <div class="slide" slide="3" annot="Третий слайд">
          <img src = "assets/a2.jpg" alt="Slide 1">
        </div>
      </div>
    </div>
  </div>
</section>
