<p>albums works!</p>

<fieldset>
  <input type="text" [(ngModel)]="newAlbum.title"><br/>
  <button (click)="addAlbum()">Add album</button>
</fieldset>

<ul>
  <li *ngFor="let album of albums">
    <a routerLink="/albums/{{album.id}}">
      {{album.id}} {{album.title}}
    </a>
    <button *ngIf="changeble !== album" (click)="updateAlbum(album)">Change</button>
    <input *ngIf="changeble === album" type="text" [(ngModel)]="album.title">
    <button *ngIf="changeble === album" (click)="updateAlbum(newAlbum)">Ok</button>
    <button (click)="deleteAlbum(album)">Delete</button>
  </li>
</ul>