/* a{
  cursor: pointer;
}

a:hover{
  color: #27bcda;
}

.search{
  width: 100px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.input{
  border-radius: 5px;
  border: solid 1px #333;
  padding: 10px 40px;
  text-align: center;
  background-color: #94a5a773;
}

.button-box{
  float: right;
  display: flex;
  margin-right: 100px;
  justify-content: center;
}
.button{
  padding: 5px 10px;
  margin-right: 20px;
  border: solid 1px #333;
  background-color: #94a5a773;
}

.category-name{
  margin-left: 100px;
}

.item{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  border: solid 1px rgb(177, 170, 170);
}

.main-content{
  padding-bottom: 350px;
}
/* button{
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #333;
  background-color: #94a5a773;
}
button:hover{
  background-color:  rgb(153, 144, 144);
} 

.buttons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.buttons-box button {
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.buttons-box button:hover {
  background-color: #AAAAAA;
  color: #FFFFFF;
}
.product_image {
  width: 100%;
} */


/* 
body {
  background-color: #000000;
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
}

.input, .button {
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.input::placeholder {
  color: #AAAAAA;
}

.button:hover {
  background-color: #AAAAAA;
  color: #FFFFFF;
}

.item {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fa-star {
  color: #FFD700;
}

.checked {
  color: #FFD700;
}

.product_image {
  width: 100%;
}

.buttons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.buttons-box button {
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.buttons-box button:hover {
  background-color: #AAAAAA;
  color: #FFFFFF;
} */


/* a{
  cursor: pointer;
  color: #000000;
  justify-content: space-between;
  }
  
  a:hover{
  color: #d3caca;
  }
  
  .search{
  width: 100px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  }
  
  .input{
  border-radius: 5px;
  border: solid 1px #000000;
  padding: 10px 40px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  }
  
  .button-box{
  float: right;
  display: flex;
  margin-right: 100px;
  justify-content: center;
  }
  .button{
  padding: 5px 10px;
  margin-right: 20px;
  border: solid 1px #000000;
  background-color: #000000;
  color: #ffffff;
  }
  
  .category-name{
  margin-left: 100px;
  color: #000000;
  }
  
  .item{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  border: solid 1px #000000;
  background-color: #ffffff;
  }
  
  .main-content{
  padding-bottom: 350px;
  background-color: #ffffff;
  }
  
  .buttons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  }
  
  .buttons-box button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  }
  
  .buttons-box button:hover {
  background-color: #ffffff;
  color: #000000;
  }
  
  .product_image {
  width: 100%;
  filter: grayscale(100%);
  } */



  a{
    cursor: pointer;
    color: #2c4b3c;
    justify-content: space-between;
    }
    
    a:hover{
    color: #73a58b;
    }
    
    .search{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    }
    
    .input{
    border-radius: 5px;
    border: solid 1px #2c4b3c;
    padding: 10px 40px;
    text-align: center;
    background-color: #2c4b3c;
    color: #ffffff;
    }
    
    .button-box{
    float: right;
    display: flex;
    margin-right: 100px;
    justify-content: center;
    }
    .button{
    padding: 5px 10px;
    margin-right: 20px;
    border: solid 1px #2c4b3c;
    background-color: #2c4b3c;
    color: #ffffff;
    }
    
    .category-name{
    margin-left: 100px;
    color: #d0f1e4;
    }
    
    .item{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    border: solid 1px #2c4b3c;
    background-color: #cae7d8;
    }
    
    .main-content{
    padding-bottom: 350px;
    background-color: #80A592;
    }
    
    .buttons-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    }
    
    .buttons-box button {
    background-color: #2c4b3c;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    }
    
    .buttons-box button:hover {
    background-color: #73a58b;
    color: #2c4b3c;
    }
    
    .product_image {
    width: 100%;
    filter: grayscale(100%);
    }