<!-- <footer>
  <div class="footer-content">
    <h3>YourSkin</h3>

    <p>YourSkin is an international online store of cosmetics and perfumes. Delivery is carried out in Russia, USA, France, Italy, Spain,
      Belarus, Kazakhstan, Kyrgyzstan, Armenia, Poland,
      Germany, Israel, Turkey and Uzbekistan</p>

    <ul class="socials">
      <li><a href="#"><img src="assets\facebook.png"> </a></li>
      <li><a href="#"><img src="assets\instagram.png"> </a></li>
      <li><a href="#"><img src="assets\twitter.png"> </a></li>
      <li><a href="#"><img src="assets\linkedin.png"> </a></li>
   </ul>
  </div>

  <div class="footer-bottom">
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a href="">Business</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Carees</a></li>
        <li><a href="">Addresses and telephones</a></li>
        <li><a href="">For medias</a></li>
        <li><a href="">Write to us</a></li>
        <li><a href="">Our vacancies</a></li>
        <li><a href="">Advertising on the website</a></li>
        <li><a href="">Software Requirements</a></li>
        <li><a href="">Investors</a></li>
      </ul>
    </div>
  </div>
</footer>
 -->

 <!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>About Us</h4>
        <p>Learn more about our company and what we stand for.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="col-md-4">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Cosmetics</a></li>
          <li><a href="#">Perfumes</a></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">Delivery</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Almaty, Kazakhstan</li>
          <li><i class="fas fa-phone"></i> +7 (727) 123-45-67</li>
          <li><i class="fas fa-envelope"></i> info@skinbeauty.kz</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p>&copy; 2023 SkinBeauty. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer> -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-item">
          <h3>About us</h3>
          <p>YourSkin Cosmetics store is your reliable partner in skin care.</p>
          <p>We offer cosmetics from the world's leading brands at affordable prices.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-item">
          <h3>Contacts</h3>
          <p>123 Tole bi St., Office 456, Almaty</p>
          <p><a href="tel:+7 (707) 708 25 75">+7 (707) 708 25 75</a></p>
          <p><a href="mailto:info@yourskin.kz">info@yourskin.kz</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-item">
          <h3>Follow us</h3>
          <ul class="social-links">
            <li><a href="#"><img src="assets\facebook.png"> </a></li>
            <li><a href="#"><img src="assets\instagram.png"> </a></li>
            <li><a href="#"><img src="assets\twitter.png"> </a></li>
            <li><a href="#"><img src="assets\linkedin.png"> </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; YourSkin, 2023.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

