<div class="main-content">
  <h2>About us</h2>
  <h3><p>Our online cosmetics store Your Skin offers a wide selection of high-quality cosmetics from the best manufacturers in the world. We pay great attention to product quality, so you can be sure of its safety and effectiveness.</p>
  <p>Our experts will help you choose the cosmetics that are right for you, and will give professional recommendations on its use. We also offer a convenient delivery service and guarantee full satisfaction from our products and services.</p></h3>
</div> 

<!-- <section class="about">
  <div class="container">
    <h2>About us </h2>
    <p>Our online cosmetics store Your Skin offers a wide selection of high-quality cosmetics from the best manufacturers in the world. We pay great attention to product quality, so you can be sure of its safety and effectiveness.</p>
    <p>Our experts will help you choose the cosmetics that are right for you, and will give professional recommendations on its use. We also offer a convenient delivery service and guarantee full satisfaction from our products and services.</p>
  </div>
</section> -->
