<!-- <div class="devizSlova">
    <div class="devizzz">
      <div class="img-deviz">
        <img src="https://img.freepik.com/free-photo/flowers-border-isolated-on-white-background_23-2147874328.jpg?size=626&ext=jpg" style="width:1320px; height:600px">
        <h1>Project is done by:</h1>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card text-white bg-warning mb-3 h-50">
      <div class="card-body">
        <h5 class="card-title">Sabina</h5>
        <button type="button" class="btn"><a href="https://t.me/" class="awka">Telegram chat</a></button>
      </div>
    </div>
    <div class="card text-white bg-danger mb-3 h-50">
      <div class="card-body">
        <h5 class="card-title">Anna</h5>
        <button type="button" class="btn"><a href="https://t.me/" class="awka">Telegram chat</a></button>
      </div>
    </div>
    <div class="card text-white bg-success mb-3 h-50">
      <div class="card-body">
        <h5 class="card-title">Zarina</h5>
        <button type="button" class="btn"><a href="https://t.me/" class="awka">Telegram chat</a></button>
      </div>
    </div>
  </div>
   -->


   <section class="contacts">
    <div class="container">
      <h2>Контакты</h2>
      <div class="contact-grid">
        <div class="contact-card">
          <i class="fas fa-map-marker-alt"></i>
          <p>г. Алматы, ул. Толе би, дом 123, офис 456</p>
        </div>
        <div class="contact-card">
          <i class="fas fa-phone"></i>
          <p>+7 (727) 123-45-67</p>
        </div>
        <div class="contact-card">
          <i class="fas fa-envelope"></i>
          <p>info@yourskin.kz</p>
        </div>
        <div class="contact-card">
          <i class="fas fa-map-marker-alt"></i>
          <p>The Project is done by:<br/>
            Sabina<br/>
            Zarina<br/>
            Anna</p>
        </div>
      </div>
    </div>
  </section>
  