a{
    cursor: pointer;
    color: #2e2d2c;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
    
    a:hover{
    color: #c98a56;
    }
    
    /* .search{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    }
    
    .input{
    border-radius: 5px;
    border: solid 1px #2c4b3c;
    padding: 10px 40px;
    text-align: center;
    background-color: #2c4b3c;
    color: #ffffff;
    } */
    
    .search {
      justify-content: center;
      position: relative;
      margin-left: 45%;
      font-family: 'Montserrat', sans-serif;
    }
    
    .input {
      width: 200px;
      padding: 8px 10px;
      border: none;
      border-radius: 5px;
    }
    
    /* .search button[type="submit"] {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    
    .search button[type="submit"] i {
      color: #444444;
      font-size: 14px;
    } */
    .button-box{
    float: right;
    display: flex;
    /* border: solid 1px #c9947c; */
    border-radius: 5px;
    margin-right: 100px;
    justify-content: center;
    }

    .button{
    padding: 5px 10px;
    margin-right: 20px;
    /* border: solid 1px #c9947c; */
    background-color: rgb(141, 93, 71);
    color: #ffffff;
    }
    
    .category-name{
    margin-left: 100px;
    color: #1f1d1b;
    font-family: 'Monserrat', sans-serif;
    }
    
    .item{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    border: solid 1px #79594c;
    border-radius: 6px;
    background-color: #f5e8e8;
    }
    
    .main-content{
    padding-bottom: 350px;
    background-color: #e0ccc4;
    }
    
    .buttons-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    }
    
    .buttons-box button {
    background-color: #cc8b6e;
    color: #292626;
    border: solid 1px #c9947c;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    }
    
    .buttons-box button:hover {
    background-color: #bd6950;
    color: #f0fdf7;
    }
    
    .product_image {
    width: 230px;
    margin-left: 30px;
    filter: grayscale(100%);
    }

    