 <!-- <h2>Product Details</h2>

<div *ngIf="product">
  <div>
    <a class="newImg" href={img}></a>
        <a class="gallery" href={{product.gal1}}><img src={{product.gal1}} width=200> </a>
        <a class="gallery" href={{product.gal2}}><img src={{product.gal2}} width=200> </a>
        <a class="gallery" href={{product.gal3}}><img src={{product.gal3}} width=200> </a>
  </div>
  <div class="description alert alert-success">
    <h3>{{ product.name }}</h3>
    <h4>{{ product.price | currency }}</h4>
  </div>
  <button style="font-size: 30px; margin-left: 450px" (click)="addToCart(product)">Buy</button>
</div>  -->


  <!-- <div class="product-details">
  <div class="product-image">
    <img [src]="product.image" alt="{{product.name}}"> 
    <div class="carousel">
  
      <input type="checkbox" class="faux-ui-facia"> 
      <div class="slide" slide="3" annot="Pics from carousel">
        <a class="gallery" href={{product.gal1}}><img src={{product.gal1}} width=200> </a>
      </div>
    
      <input type="checkbox" class="faux-ui-facia">
      <div class="slide" slide="2" annot="Beautiful pics">
        <a class="gallery" href={{product.gal2}}><img src={{product.gal2}} width=200> </a>
      </div>
    
      <input type="checkbox" class="faux-ui-facia">
    
      <div class="slide" slide="1" annot="Photos from kaspi.kz">
        <a class="gallery" href={{product.gal1}}><img src={{product.gal1}} width=200> </a>
      </div>
  </div>
  <div class="product-info">
    <h2>{{product.name}}</h2>
    <p>{{product.category}}</p>
    <p>{{product.price}} $</p>
    <button (click)="addToCart(product)"> Buy </button>
  </div>
  <div class="product-description">
    <h3>Description</h3>
    <p>{{product.description}}</p>
  </div>
</div>  -->


<h1 style="text-align: center; width: 100%;">Product Details</h1>


<div *ngIf="product" class = "details">


  <div class="carousel">
  
    <input type="checkbox" class="faux-ui-facia"> 
    <div class="slide" slide="3" annot="Pics from carousel">
      <img [src] = "product.gal1" alt="Slide 3">
    </div>
  
    <input type="checkbox" class="faux-ui-facia">
    <div class="slide" slide="2" annot="Beautiful pics">
      <img [src] = "product.gal2" alt="Slide 2">
    </div>
  
    <input type="checkbox" class="faux-ui-facia">
  
    <div class="slide" slide="1" annot="Photos">
      <img [src] = "product.img3" alt="Slide 1">
    </div>
     
    <div class="counter" count="5"></div>
   
  </div>
  
  <div class = "description">  
    <h2 style = "font-size: 35px;">{{ product.name }}</h2>
    <div class="line"></div>
    <h2>Price : {{ product.price | currency }}</h2>
    <div class="line"></div>
    <p>Description: {{ product.description }}</p>
    <button type="button" (click)="addToCart(product)">Buy</button>    
  </div>

</div>
