.products {
    width: 25%;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.img {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}

.img img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.line {
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    width: 100%;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/