<!DOCTYPE html>
<html>
<head>
	<title>Login - YourSkin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
	<div class="container">
		<h1>Вход</h1>
		<form>
			<label for="email">Email</label>
			<input type="email" id="email" name="email" required>
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required>
			<button type="submit">Login</button>
		</form>
		<div class="links">
			<a href="#">Forgot a password?</a>
			<a href="/registration">Registration</a>
		</div>
	</div>
</body>
</html>